:root{
    display: flex;
    margin: 0;
    min-height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,252,1) 50%, rgba(242,87,255,1) 100%);    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav{
    background: rgb(61,44,141);
    background: linear-gradient(56deg, rgba(61,44,141,1) 0%, rgba(97,74,208,1) 100%);
    display: flex;
    height: 10vh;
    justify-content: space-between;
}
.menu{
    background-color: transparent;
    display: flex;
    align-self: center;
    align-items: center;
    margin-right: 4vh;
}

.menuItem{
    background-color: rebeccapurple;
    color: transparent;
    margin: 0.5vh;
    padding: 0.5vh 1.2vh;
    border-radius: 50%;
    width: 10px;
    text-align: center;
}

.logo{
    background-color: transparent;
    margin: 1vh;
    margin-left: 4vh;
    border-radius: 50%;
    width: 8vh;    
    display: flex;
    justify-content: center;
    align-items: center;

}

.columnas{
    background-color: transparent;
    margin-top: 2vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 30vh;


}
.caja{
    background: rgba(255, 180, 229, 0.164);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 0 20px 0 20px;
    width: 33%;
    padding: 4vh;
    display: flex;
    text-align: center;
    align-items: center;
}

.cajaAbajo{
    background: rgba( 138, 43, 226, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 2vh;
    height: 15vh; 
    width: 180vh;
    margin-left: 1.3%;
    display: flex;
    padding: 5%;
    align-items: center;
    text-align: center;
}

.footer{
    background: rgb(97,74,208);
    background: linear-gradient(56deg, rgba(97,74,208,1) 0%, rgba(61,44,141,1) 100%);
    color: #ffffff;
    margin: 0;
    text-align: start;
    font-size: 12px;
    margin-top: auto;
    padding: 4vh;
}